.word {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;

  .letter {
    background-color: #00bcd4;
    text-align: center;
    font-size: 1.5rem;
    width: 20px;
    height: 20px;
  }
}
