.word-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  min-height: 20px;
  min-width: 300px;

  .letter {
    background-color: #00bcd4;
    text-align: center;
    font-size: 1.5rem;
    width: 20px;
    height: 20px;
  }
}

.loader-div {
  display: flex;
  width: 100%;
}
