.container {
  flex-direction: column;

  mat-card {
    margin: 20px auto 0;

    form {
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.error-msg {
  color: orangered;
}
