<div class="container">
    <mat-card *ngIf="error">
        <h3 class=" error-msg">Incorrect email or password!</h3>
    </mat-card>

    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                        [attr.aria-label]="'hidePass password'" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </mat-card>
</div>