.container {
  display: flex;
  flex: 2;
  flex-direction: column;

  min-width: 300px;

  mat-card {
    font-size: larger;
    text-align: center;
  }

  .loader-div {
    margin: 50px 0;
  }

  .answer-btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      margin: 0px 10px 0 10px;
    }
  }
}

.mat-success {
  background-color: #689f38;
  color: #fff;
}

@media (max-width: 350px) {
  .container {
    min-width: auto;
  }
}
