<div class="container">
    <div *ngIf="questions.length">
        <mat-card [innerHTML]="questions[0].question"></mat-card>
        <div class="answer-btns">
            <button mat-raised-button #btnOption1 (click)="checkAnswer(questions[0].answers[0], btnOption1)"
                [innerHTML]="questions[0].answers[0]"></button>
            <button mat-raised-button #btnOption2 (click)="checkAnswer(questions[0].answers[1], btnOption2)"
                [innerHTML]="questions[0].answers[1]"></button>
            <button mat-raised-button #btnOption3 (click)="checkAnswer(questions[0].answers[2], btnOption3)"
                [innerHTML]="questions[0].answers[2]"></button>
            <button mat-raised-button #btnOption4 (click)="checkAnswer(questions[0].answers[3], btnOption4)"
                [innerHTML]="questions[0].answers[3]"></button>
        </div>
    </div>
    <div class="loader-div" *ngIf="!questions.length">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>