<mat-card>
    <mat-selection-list [multiple]="false">
        <div mat-subheader>Users</div>
        <mat-list-option *ngFor="let user of users" [routerLink]="['/scoreboard', user.id]">
            <div class="list-user">
                <img [src]="user.avatar" class="avatar">
                <div class="user-info">
                    <div mat-line>{{user.username}}</div>
                    <!-- <div mat-line> {{user.lastLogin | date}} </div> -->
                </div>
            </div>
        </mat-list-option>
    </mat-selection-list>
</mat-card>