<div class="container unselectable" [class.mat-elevation-z2]="true">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p style="font-size: larger" [innerHTML]="data.text"></p>

        <p *ngIf="data.audienceResponse">
            <span *ngFor="let pair of audienceResponseArray(data.audienceResponse)"
                [innerHTML]="'<b>' + pair[1] + '% -- </b> <i>' + pair[0] + '</i> <br>' ">
                <!-- <b> {{ pair[1] }}% </b> -- <i> {{ pair[0] }} </i> <br> -->
            </span>
        </p>

        <p *ngIf="data.winnings">
            Winnings: &nbsp;
            <span class="winnings-text">
                <b> {{ data.winnings | currency : "$" : "symbol" : ".0" }} </b>
            </span>
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-button *ngIf="data.actions.secondary"
            (click)="btnClick(data.actions.secondary.exitGame, data.actions.secondary.reset)">{{
            data.actions.secondary.text
            }}</button>
        <button mat-raised-button color="primary"
            (click)="btnClick(data.actions.main.exitGame, data.actions.main.reset)">
            {{ data.actions.main.text }}
        </button>
    </div>
</div>