<div class="container unselectable">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Quiz Game</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/quiz-logo.png">
            <p>
                Quiz game where you answer tricky questions and test your worldly knowledge for a certain amount of
                time.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/quiz-game">PLAY NOW</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Hangman Game</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/hangman-logo.png">
            <p>
                Randomly generated word and you try to guess it by
                suggesting letters within a certain number of guesses.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/hangman-game">PLAY NOW</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Tic Tac Toe Game</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="/assets/images/ttt-logo.png">
            <p>
                Tic-tac-toe, noughts and crosses, or Xs and Os is a game you
                mark the spaces in a three-by-three grid with X or O.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/tic-tac-toe-game">PLAY NOW</button>
        </mat-card-actions>
    </mat-card>
</div>