<div class="container" [class.mat-elevation-z2]="true">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p style="font-size: larger">{{ data.text }}</p>
        <p><b>Winnings:</b> &nbsp; <span style="color: orange">{{ data.winnings | currency : "$" : "symbol" : ".0"
                }}</span></p>
    </div>
    <div mat-dialog-actions>
        <button mat-button>Exit</button>
        <button mat-raised-button color="primary" (click)="newGame()">
            Start Over
        </button>
    </div>
</div>