<div class="container" [class.mat-elevation-z2]="true">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p style="font-size: larger">{{ data.text }}</p>
        <p *ngIf="data.winnings"><b>Winnings:</b> &nbsp;
            <span style="color: orange">
                {{ data.winnings | currency : "$" : "symbol" : ".0" }}
            </span>
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-button routerLink="/home" (click)="dialogRef.close()">Exit</button>
        <button mat-raised-button color="primary" (click)="btnAction(data.action.exitGame)">
            {{ data.action.text}}
        </button>
    </div>
</div>