.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 60px;
}

.game-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 20px;
  }
}

.profile-btn {
  padding-right: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .menu-links {
    display: none;
  }
}

@media (max-width: 600px) {
  .profile-btn {
    img {
      margin-top: -5px;
    }
  }
}
