.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 60px;
}

.game-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  mat-toolbar {
    flex-direction: column;
    // height: fit-content;
    height: 280px;

    .register-btn {
      margin-bottom: 10px;
    }
  }
}
